Repository abpjs/abp-react: changes, and which Codecov flags are due for each by the changed paths.
All: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

codecov.yml:

# Codecov configuration for monorepo
# Components isolate coverage by package path - no flags needed at upload time
# See: https://docs.codecov.com/docs/components

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto

comment:
  layout: "diff, components, files"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: account
      name: account
      paths:
        - packages/account/**
    - component_id: account_pro
      name: account-pro
      paths:
        - packages/account-pro/**
    - component_id: audit_logging
      name: audit-logging
      paths:
        - packages/audit-logging/**
    - component_id: chat
      name: chat
      paths:
        - packages/chat/**
    - component_id: core
      name: core
      paths:
        - packages/core/**
    - component_id: feature_management
      name: feature-management
      paths:
        - packages/feature-management/**
    - component_id: identity
      name: identity
      paths:
        - packages/identity/**
    - component_id: identity_pro
      name: identity-pro
      paths:
        - packages/identity-pro/**
    - component_id: language_management
      name: language-management
      paths:
        - packages/language-management/**
    - component_id: permission_management
      name: permission-management
      paths:
        - packages/permission-management/**
    - component_id: saas
      name: saas
      paths:
        - packages/saas/**
    - component_id: setting_management
      name: setting-management
      paths:
        - packages/setting-management/**
    - component_id: tenant_management
      name: tenant-management
      paths:
        - packages/tenant-management/**
    - component_id: text_template_management
      name: text-template-management
      paths:
        - packages/text-template-management/**
    - component_id: theme_basic
      name: theme-basic
      paths:
        - packages/theme-basic/**
    - component_id: theme_shared
      name: theme-shared
      paths:
        - packages/theme-shared/**

upgrade(theme-basic): @abpjs/theme-basic to v3.1.0 (#297)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
Due: theme-basic

upgrade(theme-basic): @abpjs/theme-basic to v3.1.0 (#297) (#298)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
Due: theme-basic

upgrade(account): @abpjs/account to v3.1.0 (#299)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/components/ChangePasswordForm.test.tsx
  packages/account/src/__tests__/components/ManageProfile.test.tsx
  packages/account/src/__tests__/guards/authentication-flow.guard.test.ts
  packages/account/src/__tests__/index.test.ts
  packages/account/src/components/ChangePasswordForm/ChangePasswordForm.tsx
  packages/account/src/components/ManageProfile/ManageProfile.tsx
  packages/account/src/guards/authentication-flow.guard.ts
  packages/account/src/guards/index.ts
  packages/account/src/index.ts
  packages/core/src/models/profile.ts
Due: account, core

upgrade(account): @abpjs/account to v3.1.0 (#299) (#300)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/components/ChangePasswordForm.test.tsx
  packages/account/src/__tests__/components/ManageProfile.test.tsx
  packages/account/src/__tests__/guards/authentication-flow.guard.test.ts
  packages/account/src/__tests__/index.test.ts
  packages/account/src/components/ChangePasswordForm/ChangePasswordForm.tsx
  packages/account/src/components/ManageProfile/ManageProfile.tsx
  packages/account/src/guards/authentication-flow.guard.ts
  packages/account/src/guards/index.ts
  packages/account/src/index.ts
  packages/core/src/models/profile.ts
Due: account, core

initial(components): @abpjs/components to v3.1.0 (#301)
  apps/testing/package.json
  apps/testing/src/App.tsx
  apps/testing/src/pages/TestComponentsPage.tsx
  apps/testing/src/pages/index.ts
  packages/components/README.md
  packages/components/package.json
  packages/components/src/__tests__/index.test.ts
  packages/components/src/__tests__/setup.ts
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/components/Tree.tsx
  packages/components/src/tree/components/index.ts
  packages/components/src/tree/index.ts
  packages/components/src/tree/models/base-node.ts
  packages/components/src/tree/models/index.ts
  packages/components/src/tree/models/tree-node.ts
  packages/components/src/tree/utils/index.ts
  packages/components/src/tree/utils/tree-adapter.ts
  packages/components/tsconfig.build.json
  packages/components/tsconfig.json
  packages/components/tsup.config.ts
  packages/components/vitest.config.ts
  pnpm-lock.yaml
Due: none

initial(components): @abpjs/components to v3.1.0 (#301) (#302)
  apps/testing/package.json
  apps/testing/src/App.tsx
  apps/testing/src/pages/TestComponentsPage.tsx
  apps/testing/src/pages/index.ts
  packages/components/README.md
  packages/components/package.json
  packages/components/src/__tests__/index.test.ts
  packages/components/src/__tests__/setup.ts
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/components/Tree.tsx
  packages/components/src/tree/components/index.ts
  packages/components/src/tree/index.ts
  packages/components/src/tree/models/base-node.ts
  packages/components/src/tree/models/index.ts
  packages/components/src/tree/models/tree-node.ts
  packages/components/src/tree/utils/index.ts
  packages/components/src/tree/utils/tree-adapter.ts
  packages/components/tsconfig.build.json
  packages/components/tsconfig.json
  packages/components/tsup.config.ts
  packages/components/vitest.config.ts
  pnpm-lock.yaml
Due: none

upgrade(feature-management): @abpjs/feature-management to v3.1.0 (#303)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/feature-management.service.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/__tests__/useFeatureManagement.test.tsx
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
Due: feature-management

upgrade(feature-management): @abpjs/feature-management to v3.1.0 (#303) (#304)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/feature-management.service.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/__tests__/useFeatureManagement.test.tsx
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
Due: feature-management

upgrade(identity): @abpjs/identity to v3.1.0 (#305)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/index.ts
Due: identity

upgrade(identity): @abpjs/identity to v3.1.0 (#305) (#306)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/index.ts
Due: identity

upgrade(permission-management): @abpjs/permission-management to v3.1.0 (#307)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
Due: permission-management

upgrade(permission-management): @abpjs/permission-management to v3.1.0 (#307) (#308)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
Due: permission-management

upgrade(setting-management): @abpjs/setting-management to v3.1.0 (#309)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/index.ts
Due: setting-management

upgrade(setting-management): @abpjs/setting-management to v3.1.0 (#309) (#310)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/index.ts
Due: setting-management

upgrade(tenant-management): @abpjs/tenant-management to v3.1.0 (#311)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/index.ts
Due: tenant-management

upgrade(tenant-management): @abpjs/tenant-management to v3.1.0 (#311) (#312)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/index.ts
Due: tenant-management

upgrade(account-pro): @abpjs/account-pro to v3.1.0 (#313)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/AccountProService.test.ts
  packages/account-pro/src/__tests__/config/enums/route-names.test.ts
  packages/account-pro/src/__tests__/enums/components.test.ts
  packages/account-pro/src/__tests__/enums/route-names.test.ts
  packages/account-pro/src/config/enums/route-names.ts
  packages/account-pro/src/enums/components.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/services/account-pro.service.ts
Due: account-pro

upgrade(account-pro): @abpjs/account-pro to v3.1.0 (#313) (#314)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/AccountProService.test.ts
  packages/account-pro/src/__tests__/config/enums/route-names.test.ts
  packages/account-pro/src/__tests__/enums/components.test.ts
  packages/account-pro/src/__tests__/enums/route-names.test.ts
  packages/account-pro/src/config/enums/route-names.ts
  packages/account-pro/src/enums/components.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/services/account-pro.service.ts
Due: account-pro

upgrade(audit-logging): @abpjs/audit-logging to v3.1.0 (#315)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/index.ts
Due: audit-logging

upgrade(audit-logging): @abpjs/audit-logging to v3.1.0 (#315) (#316)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/index.ts
Due: audit-logging

upgrade(chat): @abpjs/chat to v3.1.0 (#317)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/index.ts
Due: chat

upgrade(chat): @abpjs/chat to v3.1.0 (#317) (#318)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/index.ts
Due: chat

chore: update test configurations and clean up imports across multiple packages
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  codecov.yml
  packages/audit-logging/src/__tests__/config/providers/route.provider.test.ts
  packages/audit-logging/src/__tests__/models/config-options.test.ts
  packages/audit-logging/src/__tests__/tokens/entity-details.token.test.ts
  packages/audit-logging/src/__tests__/tokens/extensions.token.test.ts
  packages/audit-logging/src/config/providers/route.provider.ts
  packages/core/src/services/routes.service.test.ts
  packages/saas/src/__tests__/guards/extensions.guard.test.ts
  packages/saas/src/__tests__/models/config-options.test.ts
  packages/text-template-management/src/__tests__/guards/extensions.guard.test.ts
  packages/text-template-management/src/__tests__/models/config-options.test.ts
  packages/theme-basic/src/__tests__/styles.provider.test.ts
  packages/theme-basic/src/components/nav-items/CurrentUserComponent.tsx
  packages/theme-basic/src/components/nav-items/LanguagesComponent.tsx
  packages/theme-basic/src/components/nav-items/NavItemsComponent.tsx
  packages/theme-shared/src/__tests__/models.test.ts
Due: audit-logging, core, saas, text-template-management, theme-basic, theme-shared

refactor: clean up imports and improve variable naming across multiple components
  apps/testing/src/pages/TestComponentsPage.tsx
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/account/src/components/ChangePasswordForm/ChangePasswordForm.tsx
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/core/src/services/subscription.service.test.ts
  packages/core/src/strategies/auth-flow.strategy.test.ts
  packages/theme-shared/src/__tests__/error.handler.test.tsx
  packages/theme-shared/src/__tests__/models.test.ts
Due: account, core, theme-shared

upgrade(identity-pro): @abpjs/identity-pro to v3.1.0 (#319)
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/identity-pro/package.json
  packages/identity-pro/src/__tests__/config/enums/policy-names.test.ts
  packages/identity-pro/src/__tests__/enums/components.test.ts
  packages/identity-pro/src/__tests__/enums/route-names.test.ts
  packages/identity-pro/src/__tests__/models/identity-security-log.test.ts
  packages/identity-pro/src/__tests__/models/identity.test.ts
  packages/identity-pro/src/__tests__/services/identity-security-log.service.test.ts
  packages/identity-pro/src/__tests__/services/identity.service.test.ts
  packages/identity-pro/src/config/enums/policy-names.ts
  packages/identity-pro/src/config/enums/route-names.ts
  packages/identity-pro/src/enums/components.ts
  packages/identity-pro/src/index.ts
  packages/identity-pro/src/models/identity-security-log.ts
  packages/identity-pro/src/models/identity.ts
  packages/identity-pro/src/models/index.ts
  packages/identity-pro/src/services/identity-security-log.service.ts
  packages/identity-pro/src/services/identity.service.ts
  packages/identity-pro/src/services/index.ts
  packages/identity-pro/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: identity-pro

upgrade(identity-pro): @abpjs/identity-pro to v3.1.0 (#319) (#320)
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/identity-pro/package.json
  packages/identity-pro/src/__tests__/config/enums/policy-names.test.ts
  packages/identity-pro/src/__tests__/enums/components.test.ts
  packages/identity-pro/src/__tests__/enums/route-names.test.ts
  packages/identity-pro/src/__tests__/models/identity-security-log.test.ts
  packages/identity-pro/src/__tests__/models/identity.test.ts
  packages/identity-pro/src/__tests__/services/identity-security-log.service.test.ts
  packages/identity-pro/src/__tests__/services/identity.service.test.ts
  packages/identity-pro/src/config/enums/policy-names.ts
  packages/identity-pro/src/config/enums/route-names.ts
  packages/identity-pro/src/enums/components.ts
  packages/identity-pro/src/index.ts
  packages/identity-pro/src/models/identity-security-log.ts
  packages/identity-pro/src/models/identity.ts
  packages/identity-pro/src/models/index.ts
  packages/identity-pro/src/services/identity-security-log.service.ts
  packages/identity-pro/src/services/identity.service.ts
  packages/identity-pro/src/services/index.ts
  packages/identity-pro/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: identity-pro

upgrade(language-management): @abpjs/language-management to v3.1.0 (#321)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/package.json
  packages/language-management/src/index.ts
  pnpm-lock.yaml
Due: language-management

upgrade(language-management): @abpjs/language-management to v3.1.0 (#321) (#322)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/package.json
  packages/language-management/src/index.ts
  pnpm-lock.yaml
Due: language-management

upgrade(saas): @abpjs/saas to v3.1.0 (#323)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/package.json
  packages/saas/src/index.ts
  pnpm-lock.yaml
Due: saas

upgrade(saas): @abpjs/saas to v3.1.0 (#323) (#324)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/package.json
  packages/saas/src/index.ts
  pnpm-lock.yaml
Due: saas

upgrade(text-template-management): @abpjs/text-template-management to v3.1.0 (#325)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/models.test.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/index.ts
  packages/text-template-management/src/models/text-template-management.ts
  pnpm-lock.yaml
Due: text-template-management

upgrade(text-template-management): @abpjs/text-template-management to v3.1.0 (#325) (#326)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/models.test.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/index.ts
  packages/text-template-management/src/models/text-template-management.ts
  pnpm-lock.yaml
Due: text-template-management

fix(build): resolve build failures for release v3.1.0
  apps/testing/src/pages/TestIdentityProPage.tsx
Due: none

chore: bump to 3.2.0
  README.md
  package.json
  packages/account-pro/package.json
  packages/account/package.json
  packages/audit-logging/package.json
  packages/chat/package.json
  packages/components/package.json
  packages/core/package.json
  packages/feature-management/package.json
  packages/identity-pro/package.json
  packages/identity/package.json
  packages/language-management/package.json
  packages/permission-management/package.json
  packages/saas/package.json
  packages/schematics/package.json
  packages/setting-management/package.json
  packages/tenant-management/package.json
  packages/text-template-management/package.json
  packages/theme-basic/package.json
  packages/theme-shared/package.json
Due: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

upgrade(core): @abpjs/core to v3.2.0 (#327)
  apps/testing/src/pages/TestCorePage.tsx
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/models/application-configuration.ts
  packages/core/src/models/config.ts
  packages/core/src/models/rest.ts
  packages/core/src/models/utility.ts
  packages/core/src/services/config-state.service.test.ts
  packages/core/src/services/config-state.service.ts
  packages/core/src/services/index.ts
  packages/core/src/services/localization.service.test.ts
  packages/core/src/services/localization.service.ts
  packages/core/src/services/replaceable-components.service.test.ts
  packages/core/src/services/replaceable-components.service.ts
  packages/core/src/slices/config.slice.ts
  packages/core/src/strategies/auth-flow.strategy.test.ts
  packages/core/src/strategies/auth-flow.strategy.ts
  packages/core/src/utils/file-utils.test.ts
  packages/core/src/utils/file-utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/internal-store-utils.test.ts
  packages/core/src/utils/internal-store-utils.ts
  packages/core/src/utils/route-utils.test.ts
  packages/core/src/utils/route-utils.ts
  packages/core/src/utils/string-utils.test.ts
  packages/core/src/utils/string-utils.ts
  packages/core/src/utils/tree-utils.ts
  pnpm-lock.yaml
Due: core

upgrade(core): @abpjs/core to v3.2.0 (#327) (#328)
  apps/testing/src/pages/TestCorePage.tsx
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/models/application-configuration.ts
  packages/core/src/models/config.ts
  packages/core/src/models/rest.ts
  packages/core/src/models/utility.ts
  packages/core/src/services/config-state.service.test.ts
  packages/core/src/services/config-state.service.ts
  packages/core/src/services/index.ts
  packages/core/src/services/localization.service.test.ts
  packages/core/src/services/localization.service.ts
  packages/core/src/services/replaceable-components.service.test.ts
  packages/core/src/services/replaceable-components.service.ts
  packages/core/src/slices/config.slice.ts
  packages/core/src/strategies/auth-flow.strategy.test.ts
  packages/core/src/strategies/auth-flow.strategy.ts
  packages/core/src/utils/file-utils.test.ts
  packages/core/src/utils/file-utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/internal-store-utils.test.ts
  packages/core/src/utils/internal-store-utils.ts
  packages/core/src/utils/route-utils.test.ts
  packages/core/src/utils/route-utils.ts
  packages/core/src/utils/string-utils.test.ts
  packages/core/src/utils/string-utils.ts
  packages/core/src/utils/tree-utils.ts
  pnpm-lock.yaml
Due: core

upgrade(theme-shared): @abpjs/theme-shared to v3.2.0 (#329)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/utils.test.ts
  packages/theme-shared/src/constants/styles.ts
  packages/theme-shared/src/index.ts
  pnpm-lock.yaml
Due: theme-shared

upgrade(theme-shared): @abpjs/theme-shared to v3.2.0 (#329) (#330)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/utils.test.ts
  packages/theme-shared/src/constants/styles.ts
  packages/theme-shared/src/index.ts
  pnpm-lock.yaml
Due: theme-shared

upgrade(schematics): @abpjs/schematics to v3.2.0 (#331)
  apps/testing/src/pages/TestSchematicsPage.tsx
  packages/schematics/package.json
  packages/schematics/src/constants/proxy.spec.ts
  packages/schematics/src/constants/proxy.ts
  packages/schematics/src/index.ts
  packages/schematics/src/models/api-definition.spec.ts
  packages/schematics/src/models/import.spec.ts
  packages/schematics/src/models/method.spec.ts
  packages/schematics/src/models/service.spec.ts
  pnpm-lock.yaml
Due: none
