Repository abpjs/abp-react: changes, and which Codecov flags are due for each by the changed paths.
All: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

codecov.yml:

# Codecov configuration for monorepo
# Components isolate coverage by package path - no flags needed at upload time
# See: https://docs.codecov.com/docs/components

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto

comment:
  layout: "diff, components, files"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: account
      name: account
      paths:
        - packages/account/**
    - component_id: account_pro
      name: account-pro
      paths:
        - packages/account-pro/**
    - component_id: audit_logging
      name: audit-logging
      paths:
        - packages/audit-logging/**
    - component_id: chat
      name: chat
      paths:
        - packages/chat/**
    - component_id: core
      name: core
      paths:
        - packages/core/**
    - component_id: feature_management
      name: feature-management
      paths:
        - packages/feature-management/**
    - component_id: identity
      name: identity
      paths:
        - packages/identity/**
    - component_id: identity_pro
      name: identity-pro
      paths:
        - packages/identity-pro/**
    - component_id: language_management
      name: language-management
      paths:
        - packages/language-management/**
    - component_id: permission_management
      name: permission-management
      paths:
        - packages/permission-management/**
    - component_id: saas
      name: saas
      paths:
        - packages/saas/**
    - component_id: setting_management
      name: setting-management
      paths:
        - packages/setting-management/**
    - component_id: tenant_management
      name: tenant-management
      paths:
        - packages/tenant-management/**
    - component_id: text_template_management
      name: text-template-management
      paths:
        - packages/text-template-management/**
    - component_id: theme_basic
      name: theme-basic
      paths:
        - packages/theme-basic/**
    - component_id: theme_shared
      name: theme-shared
      paths:
        - packages/theme-shared/**

upgrade(schematics): @abpjs/schematics to v3.2.0 (#331) (#332)
  apps/testing/src/pages/TestSchematicsPage.tsx
  packages/schematics/package.json
  packages/schematics/src/constants/proxy.spec.ts
  packages/schematics/src/constants/proxy.ts
  packages/schematics/src/index.ts
  packages/schematics/src/models/api-definition.spec.ts
  packages/schematics/src/models/import.spec.ts
  packages/schematics/src/models/method.spec.ts
  packages/schematics/src/models/service.spec.ts
  pnpm-lock.yaml
Due: none

upgrade(theme-basic): @abpjs/theme-basic to v3.2.0 (#333)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
  packages/theme-basic/src/__tests__/styles.provider.test.ts
  packages/theme-basic/src/index.ts
  packages/theme-basic/src/providers/styles.provider.ts
  pnpm-lock.yaml
Due: theme-basic

upgrade(theme-basic): @abpjs/theme-basic to v3.2.0 (#333) (#334)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
  packages/theme-basic/src/__tests__/styles.provider.test.ts
  packages/theme-basic/src/index.ts
  packages/theme-basic/src/providers/styles.provider.ts
  pnpm-lock.yaml
Due: theme-basic

upgrade(account): @abpjs/account to v3.2.0 (#335)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/models/index.test.ts
  packages/account/src/index.ts
  packages/account/src/models/index.ts
  pnpm-lock.yaml
Due: account

upgrade(account): @abpjs/account to v3.2.0 (#335) (#336)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/models/index.test.ts
  packages/account/src/index.ts
  packages/account/src/models/index.ts
  pnpm-lock.yaml
Due: account

upgrade(components): @abpjs/components to v3.2.0 (#337)
  apps/testing/src/pages/TestComponentsPage.tsx
  packages/components/package.json
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/components/Tree.tsx
  packages/components/src/tree/index.ts
  packages/components/src/tree/utils/tree-adapter.ts
  pnpm-lock.yaml
Due: none

upgrade(components): @abpjs/components to v3.2.0 (#337) (#338)
  apps/testing/src/pages/TestComponentsPage.tsx
  packages/components/package.json
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/components/Tree.tsx
  packages/components/src/tree/index.ts
  packages/components/src/tree/utils/tree-adapter.ts
  pnpm-lock.yaml
Due: none

upgrade(feature-management): @abpjs/feature-management to v3.2.0 (#339)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/features.service.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
  packages/feature-management/src/services/features.service.ts
  packages/feature-management/src/services/index.ts
  pnpm-lock.yaml
Due: feature-management

upgrade(feature-management): @abpjs/feature-management to v3.2.0 (#339) (#340)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/features.service.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
  packages/feature-management/src/services/features.service.ts
  packages/feature-management/src/services/index.ts
  pnpm-lock.yaml
Due: feature-management

upgrade(identity): @abpjs/identity to v3.2.0 (#341)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/proxy/identity/identity-role.service.test.ts
  packages/identity/src/__tests__/proxy/identity/identity-user-lookup.service.test.ts
  packages/identity/src/__tests__/proxy/identity/identity-user.service.test.ts
  packages/identity/src/__tests__/proxy/identity/models.test.ts
  packages/identity/src/__tests__/proxy/identity/profile.service.test.ts
  packages/identity/src/__tests__/proxy/users/models.test.ts
  packages/identity/src/index.ts
  packages/identity/src/models/identity.ts
  packages/identity/src/proxy/identity/identity-role.service.ts
  packages/identity/src/proxy/identity/identity-user-lookup.service.ts
  packages/identity/src/proxy/identity/identity-user.service.ts
  packages/identity/src/proxy/identity/index.ts
  packages/identity/src/proxy/identity/models.ts
  packages/identity/src/proxy/identity/profile.service.ts
  packages/identity/src/proxy/index.ts
  packages/identity/src/proxy/users/index.ts
  packages/identity/src/proxy/users/models.ts
  packages/identity/src/services/index.ts
  pnpm-lock.yaml
Due: identity

upgrade(identity): @abpjs/identity to v3.2.0 (#341) (#342)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/proxy/identity/identity-role.service.test.ts
  packages/identity/src/__tests__/proxy/identity/identity-user-lookup.service.test.ts
  packages/identity/src/__tests__/proxy/identity/identity-user.service.test.ts
  packages/identity/src/__tests__/proxy/identity/models.test.ts
  packages/identity/src/__tests__/proxy/identity/profile.service.test.ts
  packages/identity/src/__tests__/proxy/users/models.test.ts
  packages/identity/src/index.ts
  packages/identity/src/models/identity.ts
  packages/identity/src/proxy/identity/identity-role.service.ts
  packages/identity/src/proxy/identity/identity-user-lookup.service.ts
  packages/identity/src/proxy/identity/identity-user.service.ts
  packages/identity/src/proxy/identity/index.ts
  packages/identity/src/proxy/identity/models.ts
  packages/identity/src/proxy/identity/profile.service.ts
  packages/identity/src/proxy/index.ts
  packages/identity/src/proxy/users/index.ts
  packages/identity/src/proxy/users/models.ts
  packages/identity/src/services/index.ts
  pnpm-lock.yaml
Due: identity

upgrade(permission-management): @abpjs/permission-management to v3.2.0 (#343)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/index.test.ts
  packages/permission-management/src/__tests__/models/permission-management.test.ts
  packages/permission-management/src/__tests__/proxy/models.test.ts
  packages/permission-management/src/__tests__/proxy/permissions.service.test.ts
  packages/permission-management/src/index.ts
  packages/permission-management/src/models/index.ts
  packages/permission-management/src/proxy/index.ts
  packages/permission-management/src/proxy/models.ts
  packages/permission-management/src/proxy/permissions.service.ts
  packages/permission-management/src/services/index.ts
  pnpm-lock.yaml
Due: permission-management

upgrade(permission-management): @abpjs/permission-management to v3.2.0 (#343) (#344)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/index.test.ts
  packages/permission-management/src/__tests__/models/permission-management.test.ts
  packages/permission-management/src/__tests__/proxy/models.test.ts
  packages/permission-management/src/__tests__/proxy/permissions.service.test.ts
  packages/permission-management/src/index.ts
  packages/permission-management/src/models/index.ts
  packages/permission-management/src/proxy/index.ts
  packages/permission-management/src/proxy/models.ts
  packages/permission-management/src/proxy/permissions.service.ts
  packages/permission-management/src/services/index.ts
  pnpm-lock.yaml
Due: permission-management

upgrade(setting-management): @abpjs/setting-management to v3.2.0 (#345)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/__tests__/index.test.ts
  packages/setting-management/src/index.ts
  pnpm-lock.yaml
Due: setting-management

upgrade(setting-management): @abpjs/setting-management to v3.2.0 (#345) (#346)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/__tests__/index.test.ts
  packages/setting-management/src/index.ts
  pnpm-lock.yaml
Due: setting-management

upgrade(tenant-management): @abpjs/tenant-management to v3.2.0 (#347)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/__tests__/models/tenant-management.test.ts
  packages/tenant-management/src/__tests__/proxy/models.test.ts
  packages/tenant-management/src/__tests__/proxy/tenant.service.test.ts
  packages/tenant-management/src/index.ts
  packages/tenant-management/src/models/index.ts
  packages/tenant-management/src/proxy/index.ts
  packages/tenant-management/src/proxy/models.ts
  packages/tenant-management/src/proxy/tenant.service.ts
  packages/tenant-management/src/services/index.ts
  pnpm-lock.yaml
Due: tenant-management

upgrade(tenant-management): @abpjs/tenant-management to v3.2.0 (#347) (#348)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/__tests__/models/tenant-management.test.ts
  packages/tenant-management/src/__tests__/proxy/models.test.ts
  packages/tenant-management/src/__tests__/proxy/tenant.service.test.ts
  packages/tenant-management/src/index.ts
  packages/tenant-management/src/models/index.ts
  packages/tenant-management/src/proxy/index.ts
  packages/tenant-management/src/proxy/models.ts
  packages/tenant-management/src/proxy/tenant.service.ts
  packages/tenant-management/src/services/index.ts
  pnpm-lock.yaml
Due: tenant-management

upgrade(account-pro): @abpjs/account-pro to v3.2.0 (#349)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/config/enums/index.test.ts
  packages/account-pro/src/__tests__/config/enums/manage-profile-tab-names.test.ts
  packages/account-pro/src/__tests__/config/enums/profile-picture-type.test.ts
  packages/account-pro/src/__tests__/config/enums/two-factor-behaviour.test.ts
  packages/account-pro/src/__tests__/enums/components.test.ts
  packages/account-pro/src/__tests__/index.test.ts
  packages/account-pro/src/__tests__/models.test.ts
  packages/account-pro/src/__tests__/services/index.test.ts
  packages/account-pro/src/__tests__/services/manage-profile-tabs.service.test.ts
  packages/account-pro/src/__tests__/services/profile.service.test.ts
  packages/account-pro/src/config/enums/index.ts
  packages/account-pro/src/config/enums/manage-profile-tab-names.ts
  packages/account-pro/src/config/enums/profile-picture-type.ts
  packages/account-pro/src/config/enums/two-factor-behaviour.ts
  packages/account-pro/src/enums/components.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/services/index.ts
  packages/account-pro/src/services/manage-profile-tabs.service.ts
  packages/account-pro/src/services/profile.service.ts
  pnpm-lock.yaml
Due: account-pro

upgrade(account-pro): @abpjs/account-pro to v3.2.0 (#349) (#350)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/config/enums/index.test.ts
  packages/account-pro/src/__tests__/config/enums/manage-profile-tab-names.test.ts
  packages/account-pro/src/__tests__/config/enums/profile-picture-type.test.ts
  packages/account-pro/src/__tests__/config/enums/two-factor-behaviour.test.ts
  packages/account-pro/src/__tests__/enums/components.test.ts
  packages/account-pro/src/__tests__/index.test.ts
  packages/account-pro/src/__tests__/models.test.ts
  packages/account-pro/src/__tests__/services/index.test.ts
  packages/account-pro/src/__tests__/services/manage-profile-tabs.service.test.ts
  packages/account-pro/src/__tests__/services/profile.service.test.ts
  packages/account-pro/src/config/enums/index.ts
  packages/account-pro/src/config/enums/manage-profile-tab-names.ts
  packages/account-pro/src/config/enums/profile-picture-type.ts
  packages/account-pro/src/config/enums/two-factor-behaviour.ts
  packages/account-pro/src/enums/components.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/services/index.ts
  packages/account-pro/src/services/manage-profile-tabs.service.ts
  packages/account-pro/src/services/profile.service.ts
  pnpm-lock.yaml
Due: account-pro

upgrade(audit-logging): @abpjs/audit-logging to v3.2.0 (#351)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/__tests__/models.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/audit-logs.service.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/index.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/models.test.ts
  packages/audit-logging/src/__tests__/proxy/auditing/entity-change-type.enum.test.ts
  packages/audit-logging/src/__tests__/proxy/auditing/index.test.ts
  packages/audit-logging/src/__tests__/proxy/index.test.ts
  packages/audit-logging/src/__tests__/services/index.test.ts
  packages/audit-logging/src/index.ts
  packages/audit-logging/src/models/audit-logging.ts
  packages/audit-logging/src/models/entity-change.ts
  packages/audit-logging/src/models/index.ts
  packages/audit-logging/src/proxy/audit-logging/audit-logs.service.ts
  packages/audit-logging/src/proxy/audit-logging/index.ts
  packages/audit-logging/src/proxy/audit-logging/models.ts
  packages/audit-logging/src/proxy/auditing/entity-change-type.enum.ts
  packages/audit-logging/src/proxy/auditing/index.ts
  packages/audit-logging/src/proxy/index.ts
  packages/audit-logging/src/services/index.ts
  pnpm-lock.yaml
Due: audit-logging

upgrade(audit-logging): @abpjs/audit-logging to v3.2.0 (#351) (#352)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/__tests__/models.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/audit-logs.service.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/index.test.ts
  packages/audit-logging/src/__tests__/proxy/audit-logging/models.test.ts
  packages/audit-logging/src/__tests__/proxy/auditing/entity-change-type.enum.test.ts
  packages/audit-logging/src/__tests__/proxy/auditing/index.test.ts
  packages/audit-logging/src/__tests__/proxy/index.test.ts
  packages/audit-logging/src/__tests__/services/index.test.ts
  packages/audit-logging/src/index.ts
  packages/audit-logging/src/models/audit-logging.ts
  packages/audit-logging/src/models/entity-change.ts
  packages/audit-logging/src/models/index.ts
  packages/audit-logging/src/proxy/audit-logging/audit-logs.service.ts
  packages/audit-logging/src/proxy/audit-logging/index.ts
  packages/audit-logging/src/proxy/audit-logging/models.ts
  packages/audit-logging/src/proxy/auditing/entity-change-type.enum.ts
  packages/audit-logging/src/proxy/auditing/index.ts
  packages/audit-logging/src/proxy/index.ts
  packages/audit-logging/src/services/index.ts
  pnpm-lock.yaml
Due: audit-logging

upgrade(chat): @abpjs/chat to v3.2.0 (#353)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/__tests__/index.test.ts
  packages/chat/src/index.ts
  pnpm-lock.yaml
Due: chat

upgrade(chat): @abpjs/chat to v3.2.0 (#353) (#354)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/__tests__/index.test.ts
  packages/chat/src/index.ts
  pnpm-lock.yaml
Due: chat

refactor(schematics): update vitest configuration and remove obsolete test files
  packages/schematics/src/__tests__/constants/api.test.ts
  packages/schematics/src/__tests__/constants/proxy.test.ts
  packages/schematics/src/__tests__/constants/system-types.test.ts
  packages/schematics/src/__tests__/constants/volo.test.ts
  packages/schematics/src/__tests__/enums/binding-source-id.test.ts
  packages/schematics/src/__tests__/enums/exception.test.ts
  packages/schematics/src/__tests__/enums/import-keyword.test.ts
  packages/schematics/src/__tests__/enums/index.test.ts
  packages/schematics/src/__tests__/enums/method-modifier.test.ts
  packages/schematics/src/__tests__/index.test.ts
  packages/schematics/src/__tests__/models/api-definition.test.ts
  packages/schematics/src/__tests__/models/generate-proxy-schema.test.ts
  packages/schematics/src/__tests__/models/import.test.ts
  packages/schematics/src/__tests__/models/method.test.ts
  packages/schematics/src/__tests__/models/model.test.ts
  packages/schematics/src/__tests__/models/project.test.ts
  packages/schematics/src/__tests__/models/proxy-config.test.ts
  packages/schematics/src/__tests__/models/service.test.ts
  packages/schematics/src/__tests__/models/tree.test.ts
  packages/schematics/src/__tests__/models/util.test.ts
  packages/schematics/src/__tests__/setup.ts
  packages/schematics/vitest.config.ts
Due: none

upgrade(language-management): @abpjs/language-management to v3.2.0 (#359)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/package.json
  packages/language-management/src/__tests__/exports.test.ts
  packages/language-management/src/__tests__/language-management-state.service.test.ts
  packages/language-management/src/__tests__/proxy/dto/index.test.ts
  packages/language-management/src/__tests__/proxy/dto/models.test.ts
  packages/language-management/src/__tests__/proxy/index.test.ts
  packages/language-management/src/__tests__/proxy/language-text.service.test.ts
  packages/language-management/src/__tests__/proxy/language.service.test.ts
  packages/language-management/src/index.ts
  packages/language-management/src/models/language-management.ts
  packages/language-management/src/proxy/dto/index.ts
  packages/language-management/src/proxy/dto/models.ts
  packages/language-management/src/proxy/index.ts
  packages/language-management/src/proxy/language-text.service.ts
  packages/language-management/src/proxy/language.service.ts
  packages/language-management/src/services/language-management-state.service.ts
  packages/language-management/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: language-management

upgrade(language-management): @abpjs/language-management to v3.2.0 (#359) (#360)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/package.json
  packages/language-management/src/__tests__/exports.test.ts
  packages/language-management/src/__tests__/language-management-state.service.test.ts
  packages/language-management/src/__tests__/proxy/dto/index.test.ts
  packages/language-management/src/__tests__/proxy/dto/models.test.ts
  packages/language-management/src/__tests__/proxy/index.test.ts
  packages/language-management/src/__tests__/proxy/language-text.service.test.ts
  packages/language-management/src/__tests__/proxy/language.service.test.ts
  packages/language-management/src/index.ts
  packages/language-management/src/models/language-management.ts
  packages/language-management/src/proxy/dto/index.ts
  packages/language-management/src/proxy/dto/models.ts
  packages/language-management/src/proxy/index.ts
  packages/language-management/src/proxy/language-text.service.ts
  packages/language-management/src/proxy/language.service.ts
  packages/language-management/src/services/language-management-state.service.ts
  packages/language-management/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: language-management

upgrade(saas): @abpjs/saas to v3.2.0 (#361)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/src/__tests__/proxy/host/dtos/index.test.ts
  packages/saas/src/__tests__/proxy/host/dtos/models.test.ts
  packages/saas/src/__tests__/proxy/host/edition.service.test.ts
  packages/saas/src/__tests__/proxy/host/index.test.ts
  packages/saas/src/__tests__/proxy/host/models.test.ts
  packages/saas/src/__tests__/proxy/host/tenant.service.test.ts
  packages/saas/src/__tests__/proxy/index.test.ts
  packages/saas/src/__tests__/services/saas-state.service.test.ts
  packages/saas/src/index.ts
  packages/saas/src/models/saas.ts
  packages/saas/src/proxy/host/dtos/index.ts
  packages/saas/src/proxy/host/dtos/models.ts
  packages/saas/src/proxy/host/edition.service.ts
  packages/saas/src/proxy/host/index.ts
  packages/saas/src/proxy/host/models.ts
  packages/saas/src/proxy/host/tenant.service.ts
  packages/saas/src/proxy/index.ts
  packages/saas/src/services/saas-state.service.ts
  packages/saas/src/tokens/extensions.token.ts
Due: saas

upgrade(saas): @abpjs/saas to v3.2.0 (#361) (#362)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/src/__tests__/proxy/host/dtos/index.test.ts
  packages/saas/src/__tests__/proxy/host/dtos/models.test.ts
  packages/saas/src/__tests__/proxy/host/edition.service.test.ts
  packages/saas/src/__tests__/proxy/host/index.test.ts
  packages/saas/src/__tests__/proxy/host/models.test.ts
  packages/saas/src/__tests__/proxy/host/tenant.service.test.ts
  packages/saas/src/__tests__/proxy/index.test.ts
  packages/saas/src/__tests__/services/saas-state.service.test.ts
  packages/saas/src/index.ts
  packages/saas/src/models/saas.ts
  packages/saas/src/proxy/host/dtos/index.ts
  packages/saas/src/proxy/host/dtos/models.ts
  packages/saas/src/proxy/host/edition.service.ts
  packages/saas/src/proxy/host/index.ts
  packages/saas/src/proxy/host/models.ts
  packages/saas/src/proxy/host/tenant.service.ts
  packages/saas/src/proxy/index.ts
  packages/saas/src/services/saas-state.service.ts
  packages/saas/src/tokens/extensions.token.ts
Due: saas

upgrade(text-template-management): @abpjs/text-template-management to v3.2.0 (#363)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/proxy/index.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/index.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/models.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/template-content.service.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/template-definition.service.test.ts
  packages/text-template-management/src/__tests__/services/text-template-management-state.service.test.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/text-template-management.ts
  packages/text-template-management/src/proxy/index.ts
  packages/text-template-management/src/proxy/text-templates/index.ts
  packages/text-template-management/src/proxy/text-templates/models.ts
  packages/text-template-management/src/proxy/text-templates/template-content.service.ts
  packages/text-template-management/src/proxy/text-templates/template-definition.service.ts
  packages/text-template-management/src/services/index.ts
  packages/text-template-management/src/services/text-template-management-state.service.ts
  packages/text-template-management/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: text-template-management

upgrade(text-template-management): @abpjs/text-template-management to v3.2.0 (#363) (#364)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/proxy/index.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/index.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/models.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/template-content.service.test.ts
  packages/text-template-management/src/__tests__/proxy/text-templates/template-definition.service.test.ts
  packages/text-template-management/src/__tests__/services/text-template-management-state.service.test.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/text-template-management.ts
  packages/text-template-management/src/proxy/index.ts
  packages/text-template-management/src/proxy/text-templates/index.ts
  packages/text-template-management/src/proxy/text-templates/models.ts
  packages/text-template-management/src/proxy/text-templates/template-content.service.ts
  packages/text-template-management/src/proxy/text-templates/template-definition.service.ts
  packages/text-template-management/src/services/index.ts
  packages/text-template-management/src/services/text-template-management-state.service.ts
  packages/text-template-management/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: text-template-management

feat(components): enhance tree and add chakra support
  apps/testing/src/pages/TestComponentsPage.tsx
  packages/components/ABP_ENHANCEMENTS.md
  packages/components/package.json
  packages/components/src/__tests__/setup.ts
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/tree/components/Tree.tsx
  packages/components/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(tests): update testing app configuration and dependencies
  apps/testing/package.json
  apps/testing/src/pages/TestIdentityPage.tsx
  apps/testing/tsconfig.app.json
  eslint.config.mjs
  pnpm-lock.yaml
Due: none

chore: bump to 4.0.0
  README.md
  package.json
  packages/account-pro/package.json
  packages/audit-logging/package.json
  packages/chat/package.json
  packages/components/package.json
  packages/core/package.json
  packages/feature-management/package.json
  packages/file-management/package.json
  packages/identity-pro/package.json
  packages/identity/package.json
  packages/language-management/package.json
  packages/permission-management/package.json
  packages/saas/package.json
  packages/schematics/package.json
  packages/setting-management/package.json
  packages/tenant-management/package.json
  packages/text-template-management/package.json
  packages/theme-basic/package.json
  packages/theme-shared/package.json
Due: account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared
