Repository abpjs/abp-react: changes, and which Codecov flags are due for each by the changed paths.
All: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

codecov.yml:

# Codecov configuration for monorepo
# Components isolate coverage by package path - no flags needed at upload time
# See: https://docs.codecov.com/docs/components

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto

comment:
  layout: "diff, components, files"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: account
      name: account
      paths:
        - packages/account/**
    - component_id: account_pro
      name: account-pro
      paths:
        - packages/account-pro/**
    - component_id: audit_logging
      name: audit-logging
      paths:
        - packages/audit-logging/**
    - component_id: chat
      name: chat
      paths:
        - packages/chat/**
    - component_id: core
      name: core
      paths:
        - packages/core/**
    - component_id: feature_management
      name: feature-management
      paths:
        - packages/feature-management/**
    - component_id: identity
      name: identity
      paths:
        - packages/identity/**
    - component_id: identity_pro
      name: identity-pro
      paths:
        - packages/identity-pro/**
    - component_id: language_management
      name: language-management
      paths:
        - packages/language-management/**
    - component_id: permission_management
      name: permission-management
      paths:
        - packages/permission-management/**
    - component_id: saas
      name: saas
      paths:
        - packages/saas/**
    - component_id: setting_management
      name: setting-management
      paths:
        - packages/setting-management/**
    - component_id: tenant_management
      name: tenant-management
      paths:
        - packages/tenant-management/**
    - component_id: text_template_management
      name: text-template-management
      paths:
        - packages/text-template-management/**
    - component_id: theme_basic
      name: theme-basic
      paths:
        - packages/theme-basic/**
    - component_id: theme_shared
      name: theme-shared
      paths:
        - packages/theme-shared/**

upgrade(account): @abpjs/account to v3.0.0 (#265)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/config/providers/route.provider.test.ts
  packages/account/src/__tests__/enums/index.test.ts
  packages/account/src/__tests__/enums/route-names.test.ts
  packages/account/src/__tests__/index.test.ts
  packages/account/src/__tests__/utils/factory-utils.test.ts
  packages/account/src/config/enums/index.ts
  packages/account/src/config/enums/route-names.ts
  packages/account/src/config/index.ts
  packages/account/src/config/providers/index.ts
  packages/account/src/config/providers/route.provider.ts
  packages/account/src/enums/index.ts
  packages/account/src/index.ts
  packages/account/src/utils/factory-utils.ts
  packages/account/src/utils/index.ts
Due: account

upgrade(account): @abpjs/account to v3.0.0 (#265) (#266)
  apps/testing/src/pages/TestAccountPage.tsx
  packages/account/package.json
  packages/account/src/__tests__/config/providers/route.provider.test.ts
  packages/account/src/__tests__/enums/index.test.ts
  packages/account/src/__tests__/enums/route-names.test.ts
  packages/account/src/__tests__/index.test.ts
  packages/account/src/__tests__/utils/factory-utils.test.ts
  packages/account/src/config/enums/index.ts
  packages/account/src/config/enums/route-names.ts
  packages/account/src/config/index.ts
  packages/account/src/config/providers/index.ts
  packages/account/src/config/providers/route.provider.ts
  packages/account/src/enums/index.ts
  packages/account/src/index.ts
  packages/account/src/utils/factory-utils.ts
  packages/account/src/utils/index.ts
Due: account

chore(codecov): update Codecov configuration to fix path issues and modify comment layout
  codecov.yml
Due: none

upgrade(feature-management): @abpjs/feature-management to v3.0.0 (#267)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/index.test.ts
  packages/feature-management/src/index.ts
Due: feature-management

upgrade(feature-management): @abpjs/feature-management to v3.0.0 (#267) (#268)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/index.test.ts
  packages/feature-management/src/index.ts
Due: feature-management

upgrade(identity): @abpjs/identity to v3.0.0 (#269)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/components/RolesComponent.test.tsx
  packages/identity/src/__tests__/components/UsersComponent.test.tsx
  packages/identity/src/__tests__/config/enums/policy-names.test.ts
  packages/identity/src/__tests__/config/enums/route-names.test.ts
  packages/identity/src/__tests__/config/providers/route.provider.test.ts
  packages/identity/src/__tests__/enums/index.test.ts
  packages/identity/src/__tests__/enums/route-names.test.ts
  packages/identity/src/__tests__/index.test.ts
  packages/identity/src/__tests__/services/identity.service.test.ts
  packages/identity/src/components/Roles/RolesComponent.tsx
  packages/identity/src/components/Users/UsersComponent.tsx
  packages/identity/src/config/enums/index.ts
  packages/identity/src/config/enums/policy-names.ts
  packages/identity/src/config/enums/route-names.ts
  packages/identity/src/config/index.ts
  packages/identity/src/config/providers/index.ts
  packages/identity/src/config/providers/route.provider.ts
  packages/identity/src/enums/index.ts
  packages/identity/src/index.ts
  packages/identity/src/services/identity.service.ts
Due: identity

upgrade(identity): @abpjs/identity to v3.0.0 (#269) (#270)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/components/RolesComponent.test.tsx
  packages/identity/src/__tests__/components/UsersComponent.test.tsx
  packages/identity/src/__tests__/config/enums/policy-names.test.ts
  packages/identity/src/__tests__/config/enums/route-names.test.ts
  packages/identity/src/__tests__/config/providers/route.provider.test.ts
  packages/identity/src/__tests__/enums/index.test.ts
  packages/identity/src/__tests__/enums/route-names.test.ts
  packages/identity/src/__tests__/index.test.ts
  packages/identity/src/__tests__/services/identity.service.test.ts
  packages/identity/src/components/Roles/RolesComponent.tsx
  packages/identity/src/components/Users/UsersComponent.tsx
  packages/identity/src/config/enums/index.ts
  packages/identity/src/config/enums/policy-names.ts
  packages/identity/src/config/enums/route-names.ts
  packages/identity/src/config/index.ts
  packages/identity/src/config/providers/index.ts
  packages/identity/src/config/providers/route.provider.ts
  packages/identity/src/enums/index.ts
  packages/identity/src/index.ts
  packages/identity/src/services/identity.service.ts
Due: identity

upgrade(permission-management): @abpjs/permission-management to v3.0.0 (#271)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
Due: permission-management

upgrade(permission-management): @abpjs/permission-management to v3.0.0 (#271) (#272)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/package.json
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
Due: permission-management

upgrade(setting-management): @abpjs/setting-management to v3.0.0 (#273)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/__tests__/config/enums/route-names.test.ts
  packages/setting-management/src/__tests__/config/providers/route.provider.test.ts
  packages/setting-management/src/__tests__/index.test.ts
  packages/setting-management/src/__tests__/setting-management-state.service.test.ts
  packages/setting-management/src/components/SettingLayout/SettingLayout.tsx
  packages/setting-management/src/config/enums/index.ts
  packages/setting-management/src/config/enums/route-names.ts
  packages/setting-management/src/config/index.ts
  packages/setting-management/src/config/providers/index.ts
  packages/setting-management/src/config/providers/route.provider.ts
  packages/setting-management/src/enums/route-names.ts
  packages/setting-management/src/hooks/useSettingManagement.ts
  packages/setting-management/src/index.ts
  packages/setting-management/src/models/index.ts
  packages/setting-management/src/services/setting-management-state.service.ts
  packages/setting-management/src/services/setting-management.service.ts
Due: setting-management

upgrade(setting-management): @abpjs/setting-management to v3.0.0 (#273) (#274)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/package.json
  packages/setting-management/src/__tests__/config/enums/route-names.test.ts
  packages/setting-management/src/__tests__/config/providers/route.provider.test.ts
  packages/setting-management/src/__tests__/index.test.ts
  packages/setting-management/src/__tests__/setting-management-state.service.test.ts
  packages/setting-management/src/components/SettingLayout/SettingLayout.tsx
  packages/setting-management/src/config/enums/index.ts
  packages/setting-management/src/config/enums/route-names.ts
  packages/setting-management/src/config/index.ts
  packages/setting-management/src/config/providers/index.ts
  packages/setting-management/src/config/providers/route.provider.ts
  packages/setting-management/src/enums/route-names.ts
  packages/setting-management/src/hooks/useSettingManagement.ts
  packages/setting-management/src/index.ts
  packages/setting-management/src/models/index.ts
  packages/setting-management/src/services/setting-management-state.service.ts
  packages/setting-management/src/services/setting-management.service.ts
Due: setting-management

upgrade(tenant-management): @abpjs/tenant-management to v3.0.0 (#275)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/__tests__/config/enums/index.test.ts
  packages/tenant-management/src/__tests__/config/enums/policy-names.test.ts
  packages/tenant-management/src/__tests__/config/enums/route-names.test.ts
  packages/tenant-management/src/__tests__/config/index.test.ts
  packages/tenant-management/src/__tests__/config/providers/index.test.ts
  packages/tenant-management/src/__tests__/config/providers/route.provider.test.ts
  packages/tenant-management/src/__tests__/enums/index.test.ts
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/config/enums/index.ts
  packages/tenant-management/src/config/enums/policy-names.ts
  packages/tenant-management/src/config/enums/route-names.ts
  packages/tenant-management/src/config/index.ts
  packages/tenant-management/src/config/providers/index.ts
  packages/tenant-management/src/config/providers/route.provider.ts
  packages/tenant-management/src/enums/index.ts
  packages/tenant-management/src/enums/route-names.ts
  packages/tenant-management/src/index.ts
Due: tenant-management

upgrade(tenant-management): @abpjs/tenant-management to v3.0.0 (#275) (#276)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/package.json
  packages/tenant-management/src/__tests__/config/enums/index.test.ts
  packages/tenant-management/src/__tests__/config/enums/policy-names.test.ts
  packages/tenant-management/src/__tests__/config/enums/route-names.test.ts
  packages/tenant-management/src/__tests__/config/index.test.ts
  packages/tenant-management/src/__tests__/config/providers/index.test.ts
  packages/tenant-management/src/__tests__/config/providers/route.provider.test.ts
  packages/tenant-management/src/__tests__/enums/index.test.ts
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/config/enums/index.ts
  packages/tenant-management/src/config/enums/policy-names.ts
  packages/tenant-management/src/config/enums/route-names.ts
  packages/tenant-management/src/config/index.ts
  packages/tenant-management/src/config/providers/index.ts
  packages/tenant-management/src/config/providers/route.provider.ts
  packages/tenant-management/src/enums/index.ts
  packages/tenant-management/src/enums/route-names.ts
  packages/tenant-management/src/index.ts
Due: tenant-management

upgrade(account-pro): @abpjs/account-pro to v3.0.0 (#277)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/config/enums/index.test.ts
  packages/account-pro/src/__tests__/config/enums/route-names.test.ts
  packages/account-pro/src/__tests__/config/enums/setting-tab-names.test.ts
  packages/account-pro/src/__tests__/config/index.test.ts
  packages/account-pro/src/__tests__/config/providers/index.test.ts
  packages/account-pro/src/__tests__/config/providers/route.provider.test.ts
  packages/account-pro/src/__tests__/config/providers/setting-tab.provider.test.ts
  packages/account-pro/src/__tests__/index.test.ts
  packages/account-pro/src/__tests__/models/config-options.test.ts
  packages/account-pro/src/__tests__/tokens/index.test.ts
  packages/account-pro/src/__tests__/tokens/options.token.test.ts
  packages/account-pro/src/__tests__/utils/factory-utils.test.ts
  packages/account-pro/src/__tests__/utils/index.test.ts
  packages/account-pro/src/config/enums/index.ts
  packages/account-pro/src/config/enums/route-names.ts
  packages/account-pro/src/config/enums/setting-tab-names.ts
  packages/account-pro/src/config/index.ts
  packages/account-pro/src/config/providers/index.ts
  packages/account-pro/src/config/providers/route.provider.ts
  packages/account-pro/src/config/providers/setting-tab.provider.ts
  packages/account-pro/src/enums/route-names.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/config-options.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/tokens/index.ts
  packages/account-pro/src/tokens/options.token.ts
  packages/account-pro/src/utils/factory-utils.ts
  packages/account-pro/src/utils/index.ts
Due: account-pro

upgrade(account-pro): @abpjs/account-pro to v3.0.0 (#277) (#278)
  apps/testing/src/pages/TestAccountProPage.tsx
  packages/account-pro/package.json
  packages/account-pro/src/__tests__/config/enums/index.test.ts
  packages/account-pro/src/__tests__/config/enums/route-names.test.ts
  packages/account-pro/src/__tests__/config/enums/setting-tab-names.test.ts
  packages/account-pro/src/__tests__/config/index.test.ts
  packages/account-pro/src/__tests__/config/providers/index.test.ts
  packages/account-pro/src/__tests__/config/providers/route.provider.test.ts
  packages/account-pro/src/__tests__/config/providers/setting-tab.provider.test.ts
  packages/account-pro/src/__tests__/index.test.ts
  packages/account-pro/src/__tests__/models/config-options.test.ts
  packages/account-pro/src/__tests__/tokens/index.test.ts
  packages/account-pro/src/__tests__/tokens/options.token.test.ts
  packages/account-pro/src/__tests__/utils/factory-utils.test.ts
  packages/account-pro/src/__tests__/utils/index.test.ts
  packages/account-pro/src/config/enums/index.ts
  packages/account-pro/src/config/enums/route-names.ts
  packages/account-pro/src/config/enums/setting-tab-names.ts
  packages/account-pro/src/config/index.ts
  packages/account-pro/src/config/providers/index.ts
  packages/account-pro/src/config/providers/route.provider.ts
  packages/account-pro/src/config/providers/setting-tab.provider.ts
  packages/account-pro/src/enums/route-names.ts
  packages/account-pro/src/index.ts
  packages/account-pro/src/models/config-options.ts
  packages/account-pro/src/models/index.ts
  packages/account-pro/src/tokens/index.ts
  packages/account-pro/src/tokens/options.token.ts
  packages/account-pro/src/utils/factory-utils.ts
  packages/account-pro/src/utils/index.ts
Due: account-pro

upgrade(chat): @abpjs/chat to v3.0.0 (#281)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/__tests__/config/enums/index.test.ts
  packages/chat/src/__tests__/config/enums/policy-names.test.ts
  packages/chat/src/__tests__/config/enums/route-names.test.ts
  packages/chat/src/__tests__/config/index.test.ts
  packages/chat/src/__tests__/config/providers/index.test.ts
  packages/chat/src/__tests__/config/providers/nav-item.provider.test.ts
  packages/chat/src/__tests__/config/providers/route.provider.test.ts
  packages/chat/src/__tests__/enums/route-names.test.ts
  packages/chat/src/__tests__/index.test.ts
  packages/chat/src/config/enums/index.ts
  packages/chat/src/config/enums/policy-names.ts
  packages/chat/src/config/enums/route-names.ts
  packages/chat/src/config/index.ts
  packages/chat/src/config/providers/index.ts
  packages/chat/src/config/providers/nav-item.provider.ts
  packages/chat/src/config/providers/route.provider.ts
  packages/chat/src/enums/index.ts
  packages/chat/src/enums/route-names.ts
  packages/chat/src/index.ts
  pnpm-lock.yaml
Due: chat

upgrade(chat): @abpjs/chat to v3.0.0 (#281) (#282)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/package.json
  packages/chat/src/__tests__/config/enums/index.test.ts
  packages/chat/src/__tests__/config/enums/policy-names.test.ts
  packages/chat/src/__tests__/config/enums/route-names.test.ts
  packages/chat/src/__tests__/config/index.test.ts
  packages/chat/src/__tests__/config/providers/index.test.ts
  packages/chat/src/__tests__/config/providers/nav-item.provider.test.ts
  packages/chat/src/__tests__/config/providers/route.provider.test.ts
  packages/chat/src/__tests__/enums/route-names.test.ts
  packages/chat/src/__tests__/index.test.ts
  packages/chat/src/config/enums/index.ts
  packages/chat/src/config/enums/policy-names.ts
  packages/chat/src/config/enums/route-names.ts
  packages/chat/src/config/index.ts
  packages/chat/src/config/providers/index.ts
  packages/chat/src/config/providers/nav-item.provider.ts
  packages/chat/src/config/providers/route.provider.ts
  packages/chat/src/enums/index.ts
  packages/chat/src/enums/route-names.ts
  packages/chat/src/index.ts
  pnpm-lock.yaml
Due: chat

chore(tests): update JUnit output file names in Vitest configuration for multiple packages and add pattern to .gitignore
  .gitignore
  packages/account-pro/vitest.config.ts
  packages/account/vitest.config.ts
  packages/audit-logging/vitest.config.ts
  packages/chat/vitest.config.ts
  packages/core/vitest.config.ts
  packages/feature-management/vitest.config.ts
  packages/identity-pro/vitest.config.ts
  packages/identity/vitest.config.ts
  packages/language-management/vitest.config.ts
  packages/permission-management/vitest.config.ts
  packages/saas/vitest.config.ts
  packages/setting-management/vitest.config.ts
  packages/tenant-management/vitest.config.ts
  packages/text-template-management/vitest.config.ts
  packages/theme-basic/vitest.config.ts
  packages/theme-shared/vitest.config.ts
Due: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

chore(codecov): enhance Codecov action configuration with directory search, error handling, and verbosity
  .github/workflows/ci.yml
Due: none

upgrade(language-management): @abpjs/language-management to v3.0.0 (#285)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/package.json
  packages/language-management/src/__tests__/config/enums/index.test.ts
  packages/language-management/src/__tests__/config/enums/policy-names.test.ts
  packages/language-management/src/__tests__/config/enums/route-names.test.ts
  packages/language-management/src/__tests__/config/index.test.ts
  packages/language-management/src/__tests__/config/providers/index.test.ts
  packages/language-management/src/__tests__/config/providers/route.provider.test.ts
  packages/language-management/src/__tests__/enums/index.test.ts
  packages/language-management/src/__tests__/enums/route-names.test.ts
  packages/language-management/src/__tests__/guards/extensions.guard.test.ts
  packages/language-management/src/__tests__/guards/index.test.ts
  packages/language-management/src/__tests__/language-management-state.service.test.ts
  packages/language-management/src/__tests__/tokens/extensions.token.test.ts
  packages/language-management/src/__tests__/tokens/index.test.ts
  packages/language-management/src/components/LanguageTexts/LanguageTextsComponent.tsx
  packages/language-management/src/components/Languages/LanguagesComponent.tsx
  packages/language-management/src/config/enums/index.ts
  packages/language-management/src/config/enums/policy-names.ts
  packages/language-management/src/config/enums/route-names.ts
  packages/language-management/src/config/index.ts
  packages/language-management/src/config/providers/index.ts
  packages/language-management/src/config/providers/route.provider.ts
  packages/language-management/src/enums/index.ts
  packages/language-management/src/enums/route-names.ts
  packages/language-management/src/guards/extensions.guard.ts
  packages/language-management/src/guards/index.ts
  packages/language-management/src/index.ts
  packages/language-management/src/services/language-management-state.service.ts
  packages/language-management/src/tokens/extensions.token.ts
  packages/language-management/src/tokens/index.ts
  pnpm-lock.yaml
Due: language-management

chore(codecov): refine Codecov configuration with precision, rounding, and coverage range settings
  .github/workflows/ci.yml
  codecov.yml
Due: none

upgrade(saas): @abpjs/saas to v3.0.0 (#287)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/package.json
  packages/saas/src/__tests__/components/EditionsComponent.test.tsx
  packages/saas/src/__tests__/components/TenantsComponent.test.tsx
  packages/saas/src/__tests__/config/enums/index.test.ts
  packages/saas/src/__tests__/config/enums/policy-names.test.ts
  packages/saas/src/__tests__/config/enums/route-names.test.ts
  packages/saas/src/__tests__/config/index.test.ts
  packages/saas/src/__tests__/config/providers/index.test.ts
  packages/saas/src/__tests__/config/providers/route.provider.test.ts
  packages/saas/src/__tests__/enums/index.test.ts
  packages/saas/src/__tests__/enums/route-names.test.ts
  packages/saas/src/__tests__/exports.test.ts
  packages/saas/src/__tests__/guards/extensions.guard.test.ts
  packages/saas/src/__tests__/guards/index.test.ts
  packages/saas/src/__tests__/models/config-options.test.ts
  packages/saas/src/__tests__/tokens/extensions.token.test.ts
  packages/saas/src/__tests__/tokens/index.test.ts
  packages/saas/src/components/Editions/EditionsComponent.tsx
  packages/saas/src/components/Tenants/TenantsComponent.tsx
  packages/saas/src/config/enums/index.ts
  packages/saas/src/config/enums/policy-names.ts
  packages/saas/src/config/enums/route-names.ts
  packages/saas/src/config/index.ts
  packages/saas/src/config/providers/index.ts
  packages/saas/src/config/providers/route.provider.ts
  packages/saas/src/enums/index.ts
  packages/saas/src/enums/route-names.ts
  packages/saas/src/guards/extensions.guard.ts
  packages/saas/src/guards/index.ts
  packages/saas/src/index.ts
  packages/saas/src/models/config-options.ts
  packages/saas/src/models/index.ts
  packages/saas/src/tokens/extensions.token.ts
  packages/saas/src/tokens/index.ts
Due: saas

upgrade(saas): @abpjs/saas to v3.0.0 (#287) (#288)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/package.json
  packages/saas/src/__tests__/components/EditionsComponent.test.tsx
  packages/saas/src/__tests__/components/TenantsComponent.test.tsx
  packages/saas/src/__tests__/config/enums/index.test.ts
  packages/saas/src/__tests__/config/enums/policy-names.test.ts
  packages/saas/src/__tests__/config/enums/route-names.test.ts
  packages/saas/src/__tests__/config/index.test.ts
  packages/saas/src/__tests__/config/providers/index.test.ts
  packages/saas/src/__tests__/config/providers/route.provider.test.ts
  packages/saas/src/__tests__/enums/index.test.ts
  packages/saas/src/__tests__/enums/route-names.test.ts
  packages/saas/src/__tests__/exports.test.ts
  packages/saas/src/__tests__/guards/extensions.guard.test.ts
  packages/saas/src/__tests__/guards/index.test.ts
  packages/saas/src/__tests__/models/config-options.test.ts
  packages/saas/src/__tests__/tokens/extensions.token.test.ts
  packages/saas/src/__tests__/tokens/index.test.ts
  packages/saas/src/components/Editions/EditionsComponent.tsx
  packages/saas/src/components/Tenants/TenantsComponent.tsx
  packages/saas/src/config/enums/index.ts
  packages/saas/src/config/enums/policy-names.ts
  packages/saas/src/config/enums/route-names.ts
  packages/saas/src/config/index.ts
  packages/saas/src/config/providers/index.ts
  packages/saas/src/config/providers/route.provider.ts
  packages/saas/src/enums/index.ts
  packages/saas/src/enums/route-names.ts
  packages/saas/src/guards/extensions.guard.ts
  packages/saas/src/guards/index.ts
  packages/saas/src/index.ts
  packages/saas/src/models/config-options.ts
  packages/saas/src/models/index.ts
  packages/saas/src/tokens/extensions.token.ts
  packages/saas/src/tokens/index.ts
Due: saas

chore(ci): add debug step to list coverage files in CI workflow
  .github/workflows/ci.yml
Due: none

chore(ci): streamline test coverage step in CI workflow by removing redundant debug commands
  .github/workflows/ci.yml
Due: none

upgrade(text-template-management): @abpjs/text-template-management to v3.0.0 (#289)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/config/enums/index.test.ts
  packages/text-template-management/src/__tests__/config/enums/policy-names.test.ts
  packages/text-template-management/src/__tests__/config/enums/route-names.test.ts
  packages/text-template-management/src/__tests__/config/index.test.ts
  packages/text-template-management/src/__tests__/config/providers/index.test.ts
  packages/text-template-management/src/__tests__/config/providers/route.provider.test.ts
  packages/text-template-management/src/__tests__/enums/index.test.ts
  packages/text-template-management/src/__tests__/enums/route-names.test.ts
  packages/text-template-management/src/__tests__/exports.test.ts
  packages/text-template-management/src/__tests__/guards/extensions.guard.test.ts
  packages/text-template-management/src/__tests__/guards/index.test.ts
  packages/text-template-management/src/__tests__/models/config-options.test.ts
  packages/text-template-management/src/__tests__/tokens/extensions.token.test.ts
  packages/text-template-management/src/__tests__/tokens/index.test.ts
  packages/text-template-management/src/config/enums/index.ts
  packages/text-template-management/src/config/enums/policy-names.ts
  packages/text-template-management/src/config/enums/route-names.ts
  packages/text-template-management/src/config/index.ts
  packages/text-template-management/src/config/providers/index.ts
  packages/text-template-management/src/config/providers/route.provider.ts
  packages/text-template-management/src/enums/index.ts
  packages/text-template-management/src/enums/route-names.ts
  packages/text-template-management/src/guards/extensions.guard.ts
  packages/text-template-management/src/guards/index.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/config-options.ts
  packages/text-template-management/src/models/index.ts
  packages/text-template-management/src/tokens/extensions.token.ts
  packages/text-template-management/src/tokens/index.ts
Due: text-template-management

upgrade(text-template-management): @abpjs/text-template-management to v3.0.0 (#289) (#290)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
  packages/text-template-management/package.json
  packages/text-template-management/src/__tests__/config/enums/index.test.ts
  packages/text-template-management/src/__tests__/config/enums/policy-names.test.ts
  packages/text-template-management/src/__tests__/config/enums/route-names.test.ts
  packages/text-template-management/src/__tests__/config/index.test.ts
  packages/text-template-management/src/__tests__/config/providers/index.test.ts
  packages/text-template-management/src/__tests__/config/providers/route.provider.test.ts
  packages/text-template-management/src/__tests__/enums/index.test.ts
  packages/text-template-management/src/__tests__/enums/route-names.test.ts
  packages/text-template-management/src/__tests__/exports.test.ts
  packages/text-template-management/src/__tests__/guards/extensions.guard.test.ts
  packages/text-template-management/src/__tests__/guards/index.test.ts
  packages/text-template-management/src/__tests__/models/config-options.test.ts
  packages/text-template-management/src/__tests__/tokens/extensions.token.test.ts
  packages/text-template-management/src/__tests__/tokens/index.test.ts
  packages/text-template-management/src/config/enums/index.ts
  packages/text-template-management/src/config/enums/policy-names.ts
  packages/text-template-management/src/config/enums/route-names.ts
  packages/text-template-management/src/config/index.ts
  packages/text-template-management/src/config/providers/index.ts
  packages/text-template-management/src/config/providers/route.provider.ts
  packages/text-template-management/src/enums/index.ts
  packages/text-template-management/src/enums/route-names.ts
  packages/text-template-management/src/guards/extensions.guard.ts
  packages/text-template-management/src/guards/index.ts
  packages/text-template-management/src/index.ts
  packages/text-template-management/src/models/config-options.ts
  packages/text-template-management/src/models/index.ts
  packages/text-template-management/src/tokens/extensions.token.ts
  packages/text-template-management/src/tokens/index.ts
Due: text-template-management

chore(dependencies): downgrade @vitest/coverage-v8 to 1.6.0 and add vitest as a dev dependency in core and theme-shared packages
  packages/core/package.json
  packages/theme-shared/package.json
  pnpm-lock.yaml
Due: core, theme-shared

fix(build): resolve build failures for release v3.0.0
  apps/testing/package.json
  apps/testing/src/pages/TestAccountPage.tsx
  apps/testing/src/pages/TestIdentityPage.tsx
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  apps/testing/src/pages/TestSettingManagementPage.tsx
  apps/testing/src/pages/TestThemeBasicPage.tsx
Due: none

chore: bump to 3.1.0
  README.md
  package.json
  packages/account-pro/package.json
  packages/account/package.json
  packages/audit-logging/package.json
  packages/chat/package.json
  packages/core/package.json
  packages/feature-management/package.json
  packages/identity-pro/package.json
  packages/identity/package.json
  packages/language-management/package.json
  packages/permission-management/package.json
  packages/saas/package.json
  packages/setting-management/package.json
  packages/tenant-management/package.json
  packages/text-template-management/package.json
  packages/theme-basic/package.json
  packages/theme-shared/package.json
Due: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

upgrade(core): @abpjs/core to v3.1.0 (#291)
  apps/testing/src/pages/TestAccountPage.tsx
  apps/testing/src/pages/TestCorePage.tsx
  apps/testing/src/pages/TestIdentityPage.tsx
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  apps/testing/src/pages/TestSettingManagementPage.tsx
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/core/package.json
  packages/core/src/models/common.test.ts
  packages/core/src/models/common.ts
  packages/core/src/models/config.test.ts
  packages/core/src/models/config.ts
  packages/core/src/models/find-tenant-result-dto.test.ts
  packages/core/src/models/find-tenant-result-dto.ts
  packages/core/src/models/index.ts
  packages/core/src/models/profile.test.ts
  packages/core/src/models/profile.ts
  packages/core/src/services/config-state.service.test.ts
  packages/core/src/services/config-state.service.ts
  packages/core/src/services/index.ts
  packages/core/src/services/multi-tenancy.service.test.ts
  packages/core/src/services/multi-tenancy.service.ts
  packages/core/src/services/subscription.service.test.ts
  packages/core/src/services/subscription.service.ts
  packages/core/src/strategies/auth-flow.strategy.test.ts
  packages/core/src/strategies/auth-flow.strategy.ts
  packages/core/src/strategies/index.ts
  packages/core/src/utils/common-utils.test.ts
  packages/core/src/utils/common-utils.ts
  packages/core/src/utils/date-utils.test.ts
  packages/core/src/utils/date-utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/object-utils.test.ts
  packages/core/src/utils/object-utils.ts
  packages/core/src/utils/string-utils.test.ts
  packages/core/src/utils/string-utils.ts
Due: core

upgrade(core): @abpjs/core to v3.1.0 (#291) (#292)
  apps/testing/src/pages/TestAccountPage.tsx
  apps/testing/src/pages/TestCorePage.tsx
  apps/testing/src/pages/TestIdentityPage.tsx
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  apps/testing/src/pages/TestSettingManagementPage.tsx
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/core/package.json
  packages/core/src/models/common.test.ts
  packages/core/src/models/common.ts
  packages/core/src/models/config.test.ts
  packages/core/src/models/config.ts
  packages/core/src/models/find-tenant-result-dto.test.ts
  packages/core/src/models/find-tenant-result-dto.ts
  packages/core/src/models/index.ts
  packages/core/src/models/profile.test.ts
  packages/core/src/models/profile.ts
  packages/core/src/services/config-state.service.test.ts
  packages/core/src/services/config-state.service.ts
  packages/core/src/services/index.ts
  packages/core/src/services/multi-tenancy.service.test.ts
  packages/core/src/services/multi-tenancy.service.ts
  packages/core/src/services/subscription.service.test.ts
  packages/core/src/services/subscription.service.ts
  packages/core/src/strategies/auth-flow.strategy.test.ts
  packages/core/src/strategies/auth-flow.strategy.ts
  packages/core/src/strategies/index.ts
  packages/core/src/utils/common-utils.test.ts
  packages/core/src/utils/common-utils.ts
  packages/core/src/utils/date-utils.test.ts
  packages/core/src/utils/date-utils.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/object-utils.test.ts
  packages/core/src/utils/object-utils.ts
  packages/core/src/utils/string-utils.test.ts
  packages/core/src/utils/string-utils.ts
Due: core

upgrade(theme-shared): @abpjs/theme-shared to v3.1.0 (#293)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/error.handler.test.tsx
  packages/theme-shared/src/__tests__/models.test.ts
  packages/theme-shared/src/__tests__/nav-items.service.test.ts
  packages/theme-shared/src/handlers/error.handler.ts
  packages/theme-shared/src/models/nav-item.ts
  packages/theme-shared/src/services/nav-items.service.ts
Due: theme-shared

upgrade(theme-shared): @abpjs/theme-shared to v3.1.0 (#293) (#294)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/error.handler.test.tsx
  packages/theme-shared/src/__tests__/models.test.ts
  packages/theme-shared/src/__tests__/nav-items.service.test.ts
  packages/theme-shared/src/handlers/error.handler.ts
  packages/theme-shared/src/models/nav-item.ts
  packages/theme-shared/src/services/nav-items.service.ts
Due: theme-shared
