Repository abpjs/abp-react: changes, and which Codecov flags are due for each by the changed paths.
All: account, account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

upgrade(theme-shared): @abpjs/theme-shared to v4.0.0 (#367)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  coverage-output.txt
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/Modal.test.tsx
  packages/theme-shared/src/__tests__/confirmation.context.test.tsx
  packages/theme-shared/src/__tests__/models.test.ts
  packages/theme-shared/src/__tests__/suppress-unsaved-changes-warning.token.test.tsx
  packages/theme-shared/src/__tests__/toaster.context.test.tsx
  packages/theme-shared/src/__tests__/utils.test.ts
  packages/theme-shared/src/components/modal/Modal.tsx
  packages/theme-shared/src/constants/styles.ts
  packages/theme-shared/src/contexts/confirmation.context.tsx
  packages/theme-shared/src/contexts/toaster.context.tsx
  packages/theme-shared/src/index.ts
  packages/theme-shared/src/models/confirmation.ts
  packages/theme-shared/src/models/toaster.ts
  packages/theme-shared/src/tokens/index.ts
  packages/theme-shared/src/tokens/suppress-unsaved-changes-warning.token.ts
  pnpm-lock.yaml
Due: theme-shared

upgrade(theme-shared): @abpjs/theme-shared to v4.0.0 (#367) (#368)
  apps/testing/src/pages/TestThemeSharedPage.tsx
  coverage-output.txt
  packages/theme-shared/package.json
  packages/theme-shared/src/__tests__/Modal.test.tsx
  packages/theme-shared/src/__tests__/confirmation.context.test.tsx
  packages/theme-shared/src/__tests__/models.test.ts
  packages/theme-shared/src/__tests__/suppress-unsaved-changes-warning.token.test.tsx
  packages/theme-shared/src/__tests__/toaster.context.test.tsx
  packages/theme-shared/src/__tests__/utils.test.ts
  packages/theme-shared/src/components/modal/Modal.tsx
  packages/theme-shared/src/constants/styles.ts
  packages/theme-shared/src/contexts/confirmation.context.tsx
  packages/theme-shared/src/contexts/toaster.context.tsx
  packages/theme-shared/src/index.ts
  packages/theme-shared/src/models/confirmation.ts
  packages/theme-shared/src/models/toaster.ts
  packages/theme-shared/src/tokens/index.ts
  packages/theme-shared/src/tokens/suppress-unsaved-changes-warning.token.ts
  pnpm-lock.yaml
Due: theme-shared

upgrade(schematics): @abpjs/schematics to v4.0.0 (#369)
  apps/testing/src/pages/TestSchematicsPage.tsx
  packages/schematics/package.json
  packages/schematics/src/__tests__/commands/api.test.ts
  packages/schematics/src/__tests__/models/api-definition.test.ts
  packages/schematics/src/__tests__/utils/model.test.ts
  packages/schematics/src/index.ts
  packages/schematics/src/models/api-definition.ts
  packages/schematics/src/utils/model.ts
  pnpm-lock.yaml
Due: none

upgrade(schematics): @abpjs/schematics to v4.0.0 (#369) (#370)
  apps/testing/src/pages/TestSchematicsPage.tsx
  packages/schematics/package.json
  packages/schematics/src/__tests__/commands/api.test.ts
  packages/schematics/src/__tests__/models/api-definition.test.ts
  packages/schematics/src/__tests__/utils/model.test.ts
  packages/schematics/src/index.ts
  packages/schematics/src/models/api-definition.ts
  packages/schematics/src/utils/model.ts
  pnpm-lock.yaml
Due: none

upgrade(theme-basic): @abpjs/theme-basic to v4.0.0 (#371)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
  packages/theme-basic/src/__tests__/CurrentUserComponent.test.tsx
  packages/theme-basic/src/__tests__/LanguagesComponent.test.tsx
  packages/theme-basic/src/components/nav-items/CurrentUserComponent.tsx
  packages/theme-basic/src/components/nav-items/LanguagesComponent.tsx
  packages/theme-basic/src/index.ts
  pnpm-lock.yaml
Due: theme-basic

upgrade(theme-basic): @abpjs/theme-basic to v4.0.0 (#371) (#372)
  apps/testing/src/pages/TestThemeBasicPage.tsx
  packages/theme-basic/package.json
  packages/theme-basic/src/__tests__/CurrentUserComponent.test.tsx
  packages/theme-basic/src/__tests__/LanguagesComponent.test.tsx
  packages/theme-basic/src/components/nav-items/CurrentUserComponent.tsx
  packages/theme-basic/src/components/nav-items/LanguagesComponent.tsx
  packages/theme-basic/src/index.ts
  pnpm-lock.yaml
Due: theme-basic

upgrade(components): @abpjs/components to v4.0.0 (#373)
  apps/testing/src/pages/TestComponentsPage.tsx
  packages/components/package.json
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/index.ts
  pnpm-lock.yaml
Due: none

upgrade(components): @abpjs/components to v4.0.0 (#373) (#374)
  apps/testing/src/pages/TestComponentsPage.tsx
  packages/components/package.json
  packages/components/src/__tests__/tree/Tree.test.tsx
  packages/components/src/__tests__/tree/tree-adapter.test.ts
  packages/components/src/index.ts
  packages/components/src/tree/index.ts
  pnpm-lock.yaml
Due: none

upgrade(feature-management): @abpjs/feature-management to v4.0.0 (#375)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/feature-management.service.test.ts
  packages/feature-management/src/__tests__/index.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/__tests__/useFeatureManagement.test.tsx
  packages/feature-management/src/hooks/useFeatureManagement.ts
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
  packages/feature-management/src/services/feature-management.service.ts
  packages/feature-management/src/services/index.ts
  pnpm-lock.yaml
Due: feature-management

upgrade(feature-management): @abpjs/feature-management to v4.0.0 (#375) (#376)
  apps/testing/src/pages/TestFeatureManagementPage.tsx
  packages/feature-management/package.json
  packages/feature-management/src/__tests__/feature-management.service.test.ts
  packages/feature-management/src/__tests__/index.test.ts
  packages/feature-management/src/__tests__/models.test.ts
  packages/feature-management/src/__tests__/useFeatureManagement.test.tsx
  packages/feature-management/src/hooks/useFeatureManagement.ts
  packages/feature-management/src/index.ts
  packages/feature-management/src/models/index.ts
  packages/feature-management/src/services/feature-management.service.ts
  packages/feature-management/src/services/index.ts
  pnpm-lock.yaml
Due: feature-management

upgrade(identity): @abpjs/identity to v4.0.0 (#377)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/components/RolesComponent.test.tsx
  packages/identity/src/__tests__/hooks/useIdentity.test.tsx
  packages/identity/src/__tests__/hooks/useRoles.test.tsx
  packages/identity/src/__tests__/hooks/useUsers.test.tsx
  packages/identity/src/__tests__/index.test.ts
  packages/identity/src/__tests__/models/identity.test.ts
  packages/identity/src/__tests__/services/identity-state.service.test.ts
  packages/identity/src/__tests__/services/identity.service.test.ts
  packages/identity/src/components/Roles/RolesComponent.tsx
  packages/identity/src/components/Users/UsersComponent.tsx
  packages/identity/src/config/providers/route.provider.ts
  packages/identity/src/hooks/useRoles.ts
  packages/identity/src/hooks/useUsers.ts
  packages/identity/src/index.ts
  packages/identity/src/models/identity.ts
  packages/identity/src/services/identity-state.service.ts
  packages/identity/src/services/identity.service.ts
  packages/identity/src/services/index.ts
  pnpm-lock.yaml
Due: identity

upgrade(identity): @abpjs/identity to v4.0.0 (#377) (#378)
  apps/testing/src/pages/TestIdentityPage.tsx
  packages/identity/package.json
  packages/identity/src/__tests__/components/RolesComponent.test.tsx
  packages/identity/src/__tests__/hooks/useIdentity.test.tsx
  packages/identity/src/__tests__/hooks/useRoles.test.tsx
  packages/identity/src/__tests__/hooks/useUsers.test.tsx
  packages/identity/src/__tests__/index.test.ts
  packages/identity/src/__tests__/models/identity.test.ts
  packages/identity/src/__tests__/services/identity-state.service.test.ts
  packages/identity/src/__tests__/services/identity.service.test.ts
  packages/identity/src/components/Roles/RolesComponent.tsx
  packages/identity/src/components/Users/UsersComponent.tsx
  packages/identity/src/config/providers/route.provider.ts
  packages/identity/src/hooks/useRoles.ts
  packages/identity/src/hooks/useUsers.ts
  packages/identity/src/index.ts
  packages/identity/src/models/identity.ts
  packages/identity/src/services/identity-state.service.ts
  packages/identity/src/services/identity.service.ts
  packages/identity/src/services/index.ts
  pnpm-lock.yaml
Due: identity

upgrade(permission-management): @abpjs/permission-management to v4.0.0 (#379)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/src/__tests__/index.test.ts
  packages/permission-management/src/__tests__/models/permission-management.test.ts
  packages/permission-management/src/__tests__/permission-management-state.service.test.ts
  packages/permission-management/src/__tests__/permission-management.service.test.ts
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/components/PermissionManagementModal/PermissionManagementModal.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
  packages/permission-management/src/models/index.ts
  packages/permission-management/src/services/index.ts
  packages/permission-management/src/services/permission-management-state.service.ts
  packages/permission-management/src/services/permission-management.service.ts
Due: permission-management

upgrade(permission-management): @abpjs/permission-management to v4.0.0 (#379) (#380)
  apps/testing/src/pages/TestPermissionManagementPage.tsx
  packages/permission-management/src/__tests__/index.test.ts
  packages/permission-management/src/__tests__/models/permission-management.test.ts
  packages/permission-management/src/__tests__/permission-management-state.service.test.ts
  packages/permission-management/src/__tests__/permission-management.service.test.ts
  packages/permission-management/src/__tests__/usePermissionManagement.test.tsx
  packages/permission-management/src/components/PermissionManagementModal/PermissionManagementModal.tsx
  packages/permission-management/src/hooks/usePermissionManagement.ts
  packages/permission-management/src/index.ts
  packages/permission-management/src/models/index.ts
  packages/permission-management/src/services/index.ts
  packages/permission-management/src/services/permission-management-state.service.ts
  packages/permission-management/src/services/permission-management.service.ts
Due: permission-management

upgrade(setting-management): @abpjs/setting-management to v4.0.0 (#381)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/src/config/providers/route.provider.ts
  packages/setting-management/src/index.ts
Due: setting-management

upgrade(setting-management): @abpjs/setting-management to v4.0.0 (#381) (#382)
  apps/testing/src/pages/TestSettingManagementPage.tsx
  packages/setting-management/src/config/providers/route.provider.ts
  packages/setting-management/src/index.ts
Due: setting-management

test(theme-basic): improve test timeout for context providers and hooks
  packages/theme-basic/src/__tests__/index.test.ts
Due: theme-basic

upgrade(tenant-management): @abpjs/tenant-management to v4.0.0 (#383)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/src/TenantManagementModal/TenantManagementModal.tsx
  packages/tenant-management/src/__tests__/components/TenantManagementModal.test.tsx
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/__tests__/models/tenant-management.test.ts
  packages/tenant-management/src/__tests__/proxy/models.test.ts
  packages/tenant-management/src/__tests__/tenant-management-state.service.test.ts
  packages/tenant-management/src/__tests__/tenant-management.service.test.ts
  packages/tenant-management/src/__tests__/useTenantManagement.test.tsx
  packages/tenant-management/src/components/TenantManagementModal/TenantManagementModal.tsx
  packages/tenant-management/src/hooks/useTenantManagement.ts
  packages/tenant-management/src/index.ts
  packages/tenant-management/src/models/index.ts
  packages/tenant-management/src/proxy/models.ts
  packages/tenant-management/src/services/index.ts
  packages/tenant-management/src/services/tenant-management-state.service.ts
  packages/tenant-management/src/services/tenant-management.service.ts
Due: tenant-management

upgrade(tenant-management): @abpjs/tenant-management to v4.0.0 (#383) (#384)
  apps/testing/src/pages/TestTenantManagementPage.tsx
  packages/tenant-management/src/TenantManagementModal/TenantManagementModal.tsx
  packages/tenant-management/src/__tests__/components/TenantManagementModal.test.tsx
  packages/tenant-management/src/__tests__/index.test.ts
  packages/tenant-management/src/__tests__/models/tenant-management.test.ts
  packages/tenant-management/src/__tests__/proxy/models.test.ts
  packages/tenant-management/src/__tests__/tenant-management-state.service.test.ts
  packages/tenant-management/src/__tests__/tenant-management.service.test.ts
  packages/tenant-management/src/__tests__/useTenantManagement.test.tsx
  packages/tenant-management/src/components/TenantManagementModal/TenantManagementModal.tsx
  packages/tenant-management/src/hooks/useTenantManagement.ts
  packages/tenant-management/src/index.ts
  packages/tenant-management/src/models/index.ts
  packages/tenant-management/src/proxy/models.ts
  packages/tenant-management/src/services/index.ts
  packages/tenant-management/src/services/tenant-management-state.service.ts
  packages/tenant-management/src/services/tenant-management.service.ts
Due: tenant-management

upgrade(audit-logging): @abpjs/audit-logging to v4.0.0 (#387)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/__tests__/AuditLogsComponent.test.tsx
  packages/audit-logging/src/__tests__/audit-logging-state.service.test.ts
  packages/audit-logging/src/__tests__/audit-logging.service.test.ts
  packages/audit-logging/src/__tests__/components/index.test.ts
  packages/audit-logging/src/__tests__/config/services/entity-change-modal.service.test.ts
  packages/audit-logging/src/__tests__/entity-change.service.test.ts
  packages/audit-logging/src/__tests__/models.test.ts
  packages/audit-logging/src/__tests__/models/entity-change.test.ts
  packages/audit-logging/src/__tests__/models/index.test.ts
  packages/audit-logging/src/__tests__/services/index.test.ts
  packages/audit-logging/src/__tests__/tokens/extensions.token.test.ts
  packages/audit-logging/src/__tests__/useAuditLogs.test.tsx
  packages/audit-logging/src/components/AuditLogs/AuditLogsComponent.tsx
  packages/audit-logging/src/config/services/entity-change-modal.service.ts
  packages/audit-logging/src/defaults/default-audit-logs-entity-actions.ts
  packages/audit-logging/src/defaults/default-audit-logs-entity-props.ts
  packages/audit-logging/src/defaults/default-audit-logs-toolbar-actions.ts
  packages/audit-logging/src/defaults/default-entity-changes-entity-actions.ts
  packages/audit-logging/src/hooks/useAuditLogs.ts
  packages/audit-logging/src/index.ts
  packages/audit-logging/src/models/audit-logging.ts
  packages/audit-logging/src/models/entity-change.ts
  packages/audit-logging/src/models/index.ts
  packages/audit-logging/src/services/audit-logging-state.service.ts
  packages/audit-logging/src/services/audit-logging.service.ts
  packages/audit-logging/src/services/entity-change.service.ts
  packages/audit-logging/src/services/index.ts
  packages/audit-logging/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: audit-logging

upgrade(audit-logging): @abpjs/audit-logging to v4.0.0 (#387) (#388)
  apps/testing/src/pages/TestAuditLoggingPage.tsx
  packages/audit-logging/package.json
  packages/audit-logging/src/__tests__/AuditLogsComponent.test.tsx
  packages/audit-logging/src/__tests__/audit-logging-state.service.test.ts
  packages/audit-logging/src/__tests__/audit-logging.service.test.ts
  packages/audit-logging/src/__tests__/components/index.test.ts
  packages/audit-logging/src/__tests__/config/services/entity-change-modal.service.test.ts
  packages/audit-logging/src/__tests__/entity-change.service.test.ts
  packages/audit-logging/src/__tests__/models.test.ts
  packages/audit-logging/src/__tests__/models/entity-change.test.ts
  packages/audit-logging/src/__tests__/models/index.test.ts
  packages/audit-logging/src/__tests__/services/index.test.ts
  packages/audit-logging/src/__tests__/tokens/extensions.token.test.ts
  packages/audit-logging/src/__tests__/useAuditLogs.test.tsx
  packages/audit-logging/src/components/AuditLogs/AuditLogsComponent.tsx
  packages/audit-logging/src/config/services/entity-change-modal.service.ts
  packages/audit-logging/src/defaults/default-audit-logs-entity-actions.ts
  packages/audit-logging/src/defaults/default-audit-logs-entity-props.ts
  packages/audit-logging/src/defaults/default-audit-logs-toolbar-actions.ts
  packages/audit-logging/src/defaults/default-entity-changes-entity-actions.ts
  packages/audit-logging/src/hooks/useAuditLogs.ts
  packages/audit-logging/src/index.ts
  packages/audit-logging/src/models/audit-logging.ts
  packages/audit-logging/src/models/entity-change.ts
  packages/audit-logging/src/models/index.ts
  packages/audit-logging/src/services/audit-logging-state.service.ts
  packages/audit-logging/src/services/audit-logging.service.ts
  packages/audit-logging/src/services/entity-change.service.ts
  packages/audit-logging/src/services/index.ts
  packages/audit-logging/src/tokens/extensions.token.ts
  pnpm-lock.yaml
Due: audit-logging

upgrade(chat): @abpjs/chat to v4.0.0 (#389)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/src/__tests__/components/Chat.test.tsx
  packages/chat/src/__tests__/components/ChatContacts.test.tsx
  packages/chat/src/__tests__/hooks/useChat.test.tsx
  packages/chat/src/__tests__/models/additional-models.test.ts
  packages/chat/src/__tests__/services/chat-config.service.test.ts
Due: chat

upgrade(chat): @abpjs/chat to v4.0.0 (#389) (#390)
  apps/testing/src/pages/TestChatPage.tsx
  packages/chat/src/__tests__/components/Chat.test.tsx
  packages/chat/src/__tests__/components/ChatContacts.test.tsx
  packages/chat/src/__tests__/hooks/useChat.test.tsx
  packages/chat/src/__tests__/models/additional-models.test.ts
  packages/chat/src/__tests__/services/chat-config.service.test.ts
Due: chat

upgrade(file-management): @abpjs/file-management to v4.0.0 (#391)
  apps/testing/src/pages/TestFileManagementPage.tsx
  packages/file-management/src/__tests__/models/config-options.test.ts
  packages/file-management/src/models/config-options.ts
Due: none

upgrade(file-management): @abpjs/file-management to v4.0.0 (#391) (#392)
  apps/testing/src/pages/TestFileManagementPage.tsx
  packages/file-management/src/__tests__/models/config-options.test.ts
  packages/file-management/src/models/config-options.ts
Due: none

upgrade(identity-pro): @abpjs/identity-pro to v4.0.0 (#393)
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/identity-pro/src/__tests__/models/identity.test.ts
  packages/identity-pro/src/__tests__/services/identity.service.test.ts
  packages/identity-pro/src/models/identity.ts
  packages/identity-pro/src/services/identity-security-log.service.ts
  packages/identity-pro/src/services/identity.service.ts
  packages/identity-pro/src/services/index.ts
Due: identity-pro

upgrade(identity-pro): @abpjs/identity-pro to v4.0.0 (#393) (#394)
  apps/testing/src/pages/TestIdentityProPage.tsx
  packages/identity-pro/src/__tests__/models/identity.test.ts
  packages/identity-pro/src/__tests__/services/identity.service.test.ts
  packages/identity-pro/src/models/identity.ts
  packages/identity-pro/src/services/identity-security-log.service.ts
  packages/identity-pro/src/services/identity.service.ts
  packages/identity-pro/src/services/index.ts
Due: identity-pro

upgrade(language-management): @abpjs/language-management to v4.0.0 (#395)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/src/__tests__/exports.test.ts
  packages/language-management/src/__tests__/language-management-state.service.test.ts
  packages/language-management/src/__tests__/proxy/language.service.test.ts
  packages/language-management/src/models/language-management.ts
  packages/language-management/src/proxy/language.service.ts
  packages/language-management/src/services/index.ts
  packages/language-management/src/services/language-management-state.service.ts
  packages/language-management/src/services/language-management.service.ts
Due: language-management

upgrade(language-management): @abpjs/language-management to v4.0.0 (#395) (#396)
  apps/testing/src/pages/TestLanguageManagementPage.tsx
  packages/language-management/src/__tests__/exports.test.ts
  packages/language-management/src/__tests__/language-management-state.service.test.ts
  packages/language-management/src/__tests__/proxy/language.service.test.ts
  packages/language-management/src/models/language-management.ts
  packages/language-management/src/proxy/language.service.ts
  packages/language-management/src/services/index.ts
  packages/language-management/src/services/language-management-state.service.ts
  packages/language-management/src/services/language-management.service.ts
Due: language-management

upgrade(saas): @abpjs/saas to v4.0.0 (#397)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/src/__tests__/exports.test.ts
  packages/saas/src/__tests__/models.test.ts
  packages/saas/src/__tests__/models/config-options.test.ts
  packages/saas/src/__tests__/services/saas.service.test.ts
  packages/saas/src/models/config-options.ts
  packages/saas/src/models/saas.ts
  packages/saas/src/services/index.ts
  packages/saas/src/services/saas.service.ts
Due: saas

upgrade(saas): @abpjs/saas to v4.0.0 (#397) (#398)
  apps/testing/src/pages/TestSaasPage.tsx
  packages/saas/src/__tests__/exports.test.ts
  packages/saas/src/__tests__/models.test.ts
  packages/saas/src/__tests__/models/config-options.test.ts
  packages/saas/src/__tests__/services/saas.service.test.ts
  packages/saas/src/models/config-options.ts
  packages/saas/src/models/saas.ts
  packages/saas/src/services/index.ts
  packages/saas/src/services/saas.service.ts
Due: saas

upgrade(text-template-management): @abpjs/text-template-management to v4.0.0 (#399)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
Due: none

upgrade(text-template-management): @abpjs/text-template-management to v4.0.0 (#399) (#400)
  apps/testing/src/pages/TestTextTemplateManagementPage.tsx
Due: none

fix(build): resolve build failures for release v4.0.0
  apps/testing/src/pages/TestTenantManagementPage.tsx
Due: none

chore: bump to 4.1.0
  README.md
  package.json
  packages/account-pro/package.json
  packages/audit-logging/package.json
  packages/chat/package.json
  packages/components/package.json
  packages/core/package.json
  packages/feature-management/package.json
  packages/file-management/package.json
  packages/identity-pro/package.json
  packages/identity/package.json
  packages/language-management/package.json
  packages/permission-management/package.json
  packages/saas/package.json
  packages/schematics/package.json
  packages/setting-management/package.json
  packages/tenant-management/package.json
  packages/text-template-management/package.json
  packages/theme-basic/package.json
  packages/theme-shared/package.json
Due: account-pro, audit-logging, chat, core, feature-management, identity, identity-pro, language-management, permission-management, saas, setting-management, tenant-management, text-template-management, theme-basic, theme-shared

Path conditions:
  account: any of: packages/account/**
  account-pro: any of: packages/account-pro/**
  audit-logging: any of: packages/audit-logging/**
  chat: any of: packages/chat/**
  core: any of: packages/core/**
  feature-management: any of: packages/feature-management/**
  identity: any of: packages/identity/**
  identity-pro: any of: packages/identity-pro/**
  language-management: any of: packages/language-management/**
  permission-management: any of: packages/permission-management/**
  saas: any of: packages/saas/**
  setting-management: any of: packages/setting-management/**
  tenant-management: any of: packages/tenant-management/**
  text-template-management: any of: packages/text-template-management/**
  theme-basic: any of: packages/theme-basic/**
  theme-shared: any of: packages/theme-shared/**
